@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00182e;
    background-image: url('images/dots.gif');
    background-repeat: repeat;
}

canvas {
    display: block;
    background: url('images/ruimte.jpg') center center / cover no-repeat;
}

#zon {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0.5;
}

#controls img {
    width: 60px;
    height: 60px;
    border: none;
    background: transparent;
    cursor: pointer;
}

#controls .row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    padding: 0;
    outline: none;
}

button:focus {
    outline: none;
}

#playAgainButton {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

#playAgainButton img {
    width: 133px;
    height: auto;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-50%, -50%) scale(0.8); }
    50% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
    100% { opacity: 0; transform: translate(-50%, -50%) scale(0.8); }
}

@keyframes wobble {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(5deg); }
}

.player-wobble {
    animation: wobble 0.5s infinite;
}



#playAgainLink {
    position: absolute;
    display: none; /* Initially hidden */
    z-index: 10;
    width: 200px; /* Adjust the width based on your button size */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px; /* Adjust spacing from the dancing player */
}
