RewriteEngine On
RewriteRule ^(events|mechanisms|symptoms|interventions|reframing)/?$ index.php?tab=$1 [L,QSA]
RewriteRule ^overview/?$ index.php?tab=overview [L,QSA]
RewriteRule ^nl/(overzicht|gebeurtenissen|mechanismen|symptomen|interventies|herkadering)/?$ index.php?tab=$1&lang=nl [L,QSA]