@charset "utf-8";
body::before {
            content: '';
            position: fixed;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
            background-image: url('images/ruimte.webp');
            background-size: 50% 50%;
			opacity: 0.5;
            animation: rotateBackground 60s linear infinite;
            z-index: -1;
        }
        @keyframes rotateBackground {
            from { transform: rotate(0deg); }
            to { transform: rotate(-360deg); }
        }
        body {
            margin: 0;
            overflow: hidden;
            background-color: #000810;
        }
        canvas {
            display: block;
        }

 #solarSystemCanvas {
            position: absolute;
            top: 0;
            left: 0;
        }


        .tooltip {
            position: absolute;
            background-color: rgba(255, 198, 70, 0.5);
            color: white;
            padding: 2px 10px;
            border-radius: 5px;
            font-size: 24px;
            font-family: "Chakra Petch", serif;
			font-weight: 400;
			font-weight: bold;
            pointer-events: none;
            white-space: nowrap;
            transition: opacity 0.2s ease-in-out;
            opacity: 0;
        }
       #controls {
    	  position: absolute;
   		  bottom: 10px;
 		  left: 10px;
 		  z-index: 1000;
  		  color: white;
  		  font-size: 18px;
		  font-weight: 600, bold;
  		  font-family: "Chakra Petch", serif;
  		  background-color: rgba(78, 62, 19, 0.6); /* Transparent black with 50% opacity */
 		  border-radius: 20px; /* Very rounded corners */
 		  padding: 20px; /* Optional: Add some padding for better spacing */
}

        #pauseButton {
            margin-right: 10px;
			font-size: 18px;
            font-family: "Chakra Petch", serif;
			font-weight: bold, 600;

        }
        .nabla-unique {
            font-family: "Nabla", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings: "EDPT" 100, "EHLT" 12;
            position: absolute;
            top: 10px;
            left: 10px;
            text-align: left;
            color: white;
            font-size: 42px;
            pointer-events: none;
            white-space: nowrap;
        }

		.sixtyfour-convergence-harry {
			  font-family: "Sixtyfour Convergence", serif;
			  font-optical-sizing: auto;
			  font-weight: 400;
			  font-style: normal;
			  font-variation-settings:
			  "BLED" 0,
			  "SCAN" 0,
			  "XELA" 0,
			  "YELA" 0;
			position: absolute;
            top: 10px;
            left: 10px;
            text-align: left;
            color: white;
            font-size: 42px;
            pointer-events: none;
            white-space: nowrap;
			}

		.bungee-spice-regular {
			font-family: "Bungee Spice", cursive;
			font-weight: 400;
			font-style: normal;
			position: absolute;
            top: 10px;
            left: 10px;
            text-align: left;
            color: #ecb700;
            font-size: 36px;
            pointer-events: none;
            white-space: nowrap;
		}

		.smooch-sans-unique {
		  font-family: "Smooch Sans", serif;
		  font-optical-sizing: auto;
		  font-weight: 600;
			font-weight: bolder;
		  font-style:normal;
		}



.chakra-petch-light {
  font-family: "Chakra Petch", serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", serif;
  font-weight: 700;
  font-style: italic;
}




.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px; /* Default size */
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    background-image: url('images/sol-sprite.png');
    background-size: 1700px 100px;
    animation: sun-animation 2s steps(17) infinite;
    filter: drop-shadow(0 0 30px rgba(255, 255, 0, 0.5));
	opacity: 0.5;
}

/* Larger size on desktops */
@media screen and (min-width: 1024px) {
    .sun {
        width: 134px;
        height: 134px;
        margin-left: -67px;
        margin-top: -67px;
        background-size: 2278px 134px;
    }

    @keyframes sun-animation {
        from { background-position: 0 0; }
        to { background-position: -2278px 0; }
    }
}

/* Smaller size on mobile */
@media screen and (max-width: 600px) {
    .sun {
        width: 70px;
        height: 70px;
        margin-left: -35px;
        margin-top: -35px;
        background-size: 1190px 70px;
    }

    @keyframes sun-animation {
        from { background-position: 0 0; }
        to { background-position: -1190px 0; }
    }
}
