@charset "utf-8";
 #start-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(3, 44, 94, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            color: white;
            font-family: 'Smooch Sans', sans-serif;
            text-align: center;
        }

        .start-screen-container {
            background-color: rgba(0, 0, 0, 0.6);
            padding: 30px;
            border-radius: 20px;
            max-width: 500px;
            width: 90%;
        }

        #start-screen h1 {
            font-family: 'Nabla', cursive;
            font-size: 80px;
            margin-bottom: 20px;
            color: #32CD32;
        }

        .game-instructions ul {
            list-style-type: none;
            padding: 0;
            text-align: left;
            margin: 20px 0;
        }

        .game-instructions li {
            margin-bottom: 10px;
            font-size: 1.2rem;
        }

        #start-game-btn {
            background-color: #66b646;
            color: #9e2900;
 			width: 120px;
			height: 60px;
    		font-size: 24px;
    		text-align: center;
 			font-weight: 800;
            border: 1px;
            padding: 0px 0px;
            font-size: 1.5rem;
            border-radius: 30px;
            cursor: pointer;
            transition: background-color 0.1s ease;
        }

        #start-game-btn:hover {
            background-color: #59d029;
            box-shadow: 0 0 75px #55e01d;

        }

        .controls-preview {
            margin-top: 20px;
        }

        .preview-btn {
            background-color: rgba(255,255,255,0.2);
            color: white;
            border: 2px solid white;
            width: 50px;
            height: 50px;
            margin: 5px;
            font-size: 1.5rem;
            border-radius: 10px;
        }
